In [6]:
import pandas as pd
import numpy as np
import os
from datetime import datetime,date,timedelta,timezone
import calendar
import json


from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.exceptions import NotFound
from google.api_core.exceptions import BadRequest

In [19]:
collectionDate='2023-09-09 10:00' # comment  # run every week
# uncomment and indent
# import functions_framework
# @functions_framework.http
# def collect_prediction_result(request):   # run on clound function

# def collect_prediction_result(collectionDate): # backfill

# Dict To store all collective data Mode To run Job

In [20]:
dictCollectPerf={}

# uncomment
mode=1 # 2 for prodictoin 1 for test/migrate 
#modelList=['spy-ema1-60t10-ds0115t0523','qqq-ema1-30t5-ds0115t0523','spy-signal-60t10-ds0115t0523']

# comment
#model_id='spy-ema1-60t10-ds0115t0523'
model_id='qqq-ema1-30t5-ds0115t0523'
#model_id="spy-signal-60t10-ds0115t0523"

# Friday of last n week so we want to collect model perf  0=last week ,1=2 week  
# 2=3 is weeks it convert the Friday (last trading day) to have actual value at least  2 week(10day) ahead to compare  predicted value
no_week_lookback=2

# Init parameter

In [21]:
if mode==1: # Backfill data and Test 
    logDate=collectionDate
    log_date=datetime.strptime(logDate,'%Y-%m-%d %H:%M')
    log_timestamp=datetime.strptime(logDate,'%Y-%m-%d %H:%M')
else: # On weekly basis
    log_timestamp=datetime.now(timezone.utc)
    log_date=datetime.strptime(log_timestamp.strftime('%Y-%m-%d'),'%Y-%m-%d')

week_day=log_date.weekday()
day_name=calendar.day_name[log_date.weekday()]

print(f"Date to collect data on {log_date.strftime('%Y-%m-%d')} {day_name}(Idx:{week_day}) at {log_timestamp}")
#week_day=log_date.weekday() Sature=5  [0,1,2,3,4,5,6]


if  week_day==5:
    last_trading_day_of_week=1+(no_week_lookback*7) # 7 is 1 week
    # last_trading_day_of_week=1
else:
    # comment
    raise Exception("Saturday is allowed  as Collection Date for forcasting result.")   
    # uncomment
    # return "Saturday is allowed  as Collection Date for forcasting result."  

print(f"week_day={week_day} and last_trading_day_of_week={last_trading_day_of_week}")

genTableSchema=False
metric_name='mae'

Date to collect data on 2023-09-09 Saturday(Idx:5) at 2023-09-09 10:00:00
week_day=5 and last_trading_day_of_week=15

# Create Start to End Date By Getting Last Date of Week

In [22]:
# get  prev prediction  from  get end prediction to beginneg or predicton of week 
endX=log_date+timedelta(days=-last_trading_day_of_week)
startX=endX+timedelta(days=1)+timedelta(days=-5) #-5 is from Friday to Monday
print(f"Collection data from {startX.strftime('%A %d-%m-%Y')} to {endX.strftime('%A %d-%m-%Y')}")

endX=endX.strftime('%Y-%m-%d')
startX=startX.strftime('%Y-%m-%d')

print(f"Convert Start and End Date to gather data {startX} - {endX} to string")

Collection data from Monday 21-08-2023 to Friday 25-08-2023
Convert Start and End Date to gather data 2023-08-21 - 2023-08-25 to string

# BigQuery Setting & Configuration Variable

In [91]:
date_col='date'
projectId='pongthorn'
dataset_id='FinAssetForecast'

table_data_id=f"{projectId}.{dataset_id}.fin_data"
table_id = f"{projectId}.{dataset_id}.fin_movement_forecast"
table_model_id= f"{projectId}.{dataset_id}.model_ts_metadata"


#table_perf_id= f"{projectId}.{dataset_id}.model_forecast_performance"
table_perf_id= f"{projectId}.{dataset_id}.model2_demo_forecast_performance"

print(table_id)
print(table_data_id)
print(table_model_id)
print(table_perf_id)

client = bigquery.Client(project=projectId )

def load_data_bq(sql:str):
    query_result=client.query(sql)
    df=query_result.to_dataframe()
    return df

pongthorn.FinAssetForecast.fin_movement_forecast
pongthorn.FinAssetForecast.fin_data
pongthorn.FinAssetForecast.model_ts_metadata
pongthorn.FinAssetForecast.model2_demo_forecast_performance

# Start Loop

In [92]:
# uncomment  and indent
# def process_data(model_id):
print(f"Collect data : {model_id} ")

Collect data : spy-ema1-60t10-ds0115t0523

# Check where the given date collected data or not?

In [93]:

# this version , it will check on each model invidually
# you can move it inside def process

# script in the first run because we want to generate table with nested and repeated column
sqlCheck=f"""
select collection_timestamp from `{table_perf_id}`
where date(collection_timestamp)='{log_date.strftime('%Y-%m-%d')}' and model_id='{model_id}'
"""

print(sqlCheck)
dfCheckDate=load_data_bq(sqlCheck)
if  dfCheckDate.empty==False:
    print(f"Collection data on {log_date} for {model_id} found, no any action")
    # uncomment
    #return f"Collection data on {log_date} for {model_id} found, no any action"
else:
    print(f"We are ready to Collect data on {log_date}")

select collection_timestamp from `pongthorn.FinAssetForecast.model2_demo_forecast_performance`
where date(collection_timestamp)='2023-09-09' and model_id='spy-ema1-60t10-ds0115t0523'

We are ready to Collect data on 2023-09-09 10:00:00

# Get Model Meta

In [94]:
def get_model_metadata(model_id):
    sqlModelMt=f"""
    SELECT * FROM `{table_model_id}`  where model_id='{model_id}'
    """
    print(sqlModelMt)
    dfModelMeta=load_data_bq(sqlModelMt)
    return  dfModelMeta

dfModelMeta=get_model_metadata(model_id)

if dfModelMeta.empty==False:
    modelMeta=dfModelMeta.iloc[0,:]
    print(modelMeta)
    asset_name=modelMeta['asset']
    prediction=modelMeta['prediction']
else: 
    raise Exception(f"Not found model id  {model_id}")

    SELECT * FROM `pongthorn.FinAssetForecast.model_ts_metadata`  where model_id='spy-ema1-60t10-ds0115t0523'

model_id                                         spy-ema1-60t10-ds0115t0523
asset                                                                   SPY
prediction                                                             EMA1
input_sequence_length                                                    60
output_sequence_length                                                   10
gs_model_path                gs://demo-ts-forecast-pongthorn/model_spy_ema1
local_model_path                                       model/model_spy_ema1
model_file                         EMA1_60To10_SPY_E150S20-Y2015-2023_ma.h5
scaler_file                    scaler_EMA1_60To10_SPY_E150S20-Y2015-2023.gz
scaler_pred_file          scaler_pred_EMA1_60To10_SPY_E150S20-Y2015-2023.gz
Name: 0, dtype: object

# Retrive forecasting result data to Dictionary

In [95]:
def get_forecasting_result_data(request):

    if   request is not None:  
        start_date=request["start_date"]
        end_date=request["end_date"]
        prediction_name=request["prediction_name"]
        asset_name=request["asset_name"]
        model_id=request["model_id"]
    else:
        raise Exception("No request parameters such as start_date,prediction_name,asset_name")

    
    print("1.How far in advance does model want to  make prediction")
    sqlOutput=f"""
    select t.prediction_date, t.pred_timestamp,t.asset_name,t.prediction_name,
    t_pred.output_date as {date_col},t_pred.output_value as {prediction_name}
    from  `{table_id}` t
    cross join unnest(t.prediction_result) t_pred
    where (t.prediction_date>='{start_date}' and  t.prediction_date<='{end_date}')
    and t.model_id='{model_id}'
    order by  t.prediction_date,t_pred.output_date
    """
    print(sqlOutput)
    dfOutput=load_data_bq(sqlOutput)
    # dfOutput=dfOutput.drop_duplicates(subset=[date_col,'asset_name','prediction_name'],keep='last',)
    # dfOutput=dfOutput.drop_duplicates(subset=[date_col],keep='last',)
    dfOutput[date_col]=pd.to_datetime(dfOutput[date_col],format='%Y-%m-%d')
    dfOutput.set_index(date_col,inplace=True)

    output_sequence_length=len(dfOutput)
    print(f"output_sequence_length={output_sequence_length}")
    

    print(dfOutput.info())
    print(dfOutput[['prediction_date','asset_name','prediction_name' ,prediction_name]])
    print("================================================================================================")

    
    #get actual data since the fist day of input and the last day of output(if covered)
    startFinData=dfOutput.index.min().strftime('%Y-%m-%d')
    endFindData=dfOutput.index.max().strftime('%Y-%m-%d')
    print(f"2.Get Real Data  to compare to prediction from {startFinData} to {endFindData}")

    sqlData=f"""
    select Date as {date_col},{prediction_name}, ImportDateTime, from `{table_data_id}` 
    where (Date>='{startFinData}' and Date<='{endFindData}') and Symbol='{asset_name}'
    order by ImportDateTime,Date
    """
    print(sqlData)

    dfRealData=load_data_bq(sqlData)
    dfRealData=dfRealData.drop_duplicates(subset=[date_col],keep='last',)
    dfRealData[date_col]=pd.to_datetime(dfRealData[date_col],format='%Y-%m-%d')
    dfRealData.set_index(date_col,inplace=True)
    
    print(dfRealData.info())
    print(dfRealData[[prediction_name]])
    print("================================================================================================")

    return {'actual_price':dfRealData,'output':dfOutput }


print(f"================Get data from {startX}====to==={endX}================")
request={'start_date':startX,'end_date':endX,'prediction_name':prediction,'asset_name':asset_name,'model_id':model_id}
data=get_forecasting_result_data(request)
print(f"=======================================================================")

================Get data from 2023-08-21====to===2023-08-25================
1.How far in advance does model want to  make prediction

    select t.prediction_date, t.pred_timestamp,t.asset_name,t.prediction_name,
    t_pred.output_date as date,t_pred.output_value as EMA1
    from  `pongthorn.FinAssetForecast.fin_movement_forecast` t
    cross join unnest(t.prediction_result) t_pred
    where (t.prediction_date>='2023-08-21' and  t.prediction_date<='2023-08-25')
    and t.model_id='spy-ema1-60t10-ds0115t0523'
    order by  t.prediction_date,t_pred.output_date

output_sequence_length=50
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 50 entries, 2023-08-22 to 2023-09-11
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   prediction_date  50 non-null     dbdate
 1   pred_timestamp   50 non-null     datetime64[us, UTC]
 2   asset_name       50 non-null     object
 3   prediction_name  50 non-null     object
 4   EMA1             50 non-null     float64
dtypes: datetime64[us, UTC](1), dbdate(1), float64(1), object(2)
memory usage: 2.3+ KB
None
           prediction_date asset_name prediction_name        EMA1
date
2023-08-22      2023-08-21        SPY            EMA1  444.989990
2023-08-23      2023-08-21        SPY            EMA1  440.317657
2023-08-24      2023-08-21        SPY            EMA1  441.218964
2023-08-25      2023-08-21        SPY            EMA1  438.335083
2023-08-28      2023-08-21        SPY            EMA1  442.743866
2023-08-29      2023-08-21        SPY            EMA1  440.702881
2023-08-30      2023-08-21        SPY            EMA1  440.167419
2023-08-31      2023-08-21        SPY            EMA1  442.466125
2023-09-01      2023-08-21        SPY            EMA1  438.661865
2023-09-05      2023-08-21        SPY            EMA1  439.232788
2023-08-23      2023-08-22        SPY            EMA1  444.773926
2023-08-24      2023-08-22        SPY            EMA1  440.177277
2023-08-25      2023-08-22        SPY            EMA1  441.130737
2023-08-28      2023-08-22        SPY            EMA1  438.348602
2023-08-29      2023-08-22        SPY            EMA1  442.597382
2023-08-30      2023-08-22        SPY            EMA1  440.821320
2023-08-31      2023-08-22        SPY            EMA1  440.269440
2023-09-01      2023-08-22        SPY            EMA1  442.423035
2023-09-05      2023-08-22        SPY            EMA1  438.700989
2023-09-06      2023-08-22        SPY            EMA1  439.204437
2023-08-24      2023-08-23        SPY            EMA1  445.094208
2023-08-25      2023-08-23        SPY            EMA1  440.602936
2023-08-28      2023-08-23        SPY            EMA1  441.692841
2023-08-29      2023-08-23        SPY            EMA1  439.035858
2023-08-30      2023-08-23        SPY            EMA1  443.233185
2023-08-31      2023-08-23        SPY            EMA1  441.786621
2023-09-01      2023-08-23        SPY            EMA1  441.150818
2023-09-05      2023-08-23        SPY            EMA1  443.056885
2023-09-06      2023-08-23        SPY            EMA1  439.493225
2023-09-07      2023-08-23        SPY            EMA1  439.938019
2023-08-25      2023-08-24        SPY            EMA1  444.912720
2023-08-28      2023-08-24        SPY            EMA1  440.525238
2023-08-29      2023-08-24        SPY            EMA1  441.582947
2023-08-30      2023-08-24        SPY            EMA1  438.963379
2023-08-31      2023-08-24        SPY            EMA1  442.958313
2023-09-01      2023-08-24        SPY            EMA1  441.740814
2023-09-05      2023-08-24        SPY            EMA1  441.085602
2023-09-06      2023-08-24        SPY            EMA1  443.017548
2023-09-07      2023-08-24        SPY            EMA1  439.590912
2023-09-08      2023-08-24        SPY            EMA1  439.857513
2023-08-28      2023-08-25        SPY            EMA1  444.132690
2023-08-29      2023-08-25        SPY            EMA1  439.746307
2023-08-30      2023-08-25        SPY            EMA1  440.791321
2023-08-31      2023-08-25        SPY            EMA1  438.236755
2023-09-01      2023-08-25        SPY            EMA1  442.215393
2023-09-05      2023-08-25        SPY            EMA1  441.129333
2023-09-06      2023-08-25        SPY            EMA1  440.315704
2023-09-07      2023-08-25        SPY            EMA1  442.306366
2023-09-08      2023-08-25        SPY            EMA1  439.068085
2023-09-11      2023-08-25        SPY            EMA1  439.222565
================================================================================================
2.Get Real Data  to compare to prediction from 2023-08-22 to 2023-09-11

    select Date as date,EMA1, ImportDateTime, from `pongthorn.FinAssetForecast.fin_data`
    where (Date>='2023-08-22' and Date<='2023-09-11') and Symbol='SPY'
    order by ImportDateTime,Date

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13 entries, 2023-08-22 to 2023-09-08
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   EMA1            13 non-null     float64
 1   ImportDateTime  13 non-null     datetime64[us]
dtypes: datetime64[us](1), float64(1)
memory usage: 312.0 bytes
None
                EMA1
date
2023-08-22  441.4926
2023-08-23  441.7721
2023-08-24  440.8845
2023-08-25  440.7212
2023-08-28  441.1001
2023-08-29  442.5680
2023-08-30  444.1029
2023-08-31  445.2388
2023-09-01  446.3245
2023-09-05  446.8557
2023-09-06  446.7401
2023-09-07  446.3964
2023-09-08  446.2387
================================================================================================
=======================================================================

# Create Predictive and Actual Value dataframe

In [96]:
print("List all trading day in the week")
myTradingDataList=data['output']['prediction_date'].unique()
print(myTradingDataList)

List all trading day in the week
<DateArray>
[datetime.date(2023, 8, 21), datetime.date(2023, 8, 22),
 datetime.date(2023, 8, 23), datetime.date(2023, 8, 24),
 datetime.date(2023, 8, 25)]
Length: 5, dtype: dbdate

In [97]:
dfAllForecastResult=pd.DataFrame(columns=['date','pred_value','actual_value','prediction_date'])
dfAllForecastResult

Empty DataFrame
Columns: [date, pred_value, actual_value, prediction_date]
Index: []

In [98]:
print(f"========================dfX :Actual Price========================")
dfX=data['actual_price'][[prediction]]
dfX.columns=[f'actual_value']
print(dfX.info())
dfX

========================dfX :Actual Price========================
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13 entries, 2023-08-22 to 2023-09-08
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   actual_value  13 non-null     float64
dtypes: float64(1)
memory usage: 208.0 bytes
None

            actual_value
date
2023-08-22      441.4926
2023-08-23      441.7721
2023-08-24      440.8845
2023-08-25      440.7212
2023-08-28      441.1001
2023-08-29      442.5680
2023-08-30      444.1029
2023-08-31      445.2388
2023-09-01      446.3245
2023-09-05      446.8557
2023-09-06      446.7401
2023-09-07      446.3964
2023-09-08      446.2387

In [99]:
# actually , we can jon without spilting data by prediction_dtate
for date in  myTradingDataList: # trading day on giver week
    print(f"=========================dfPred:Predicted Price at {date}=========================")
    dfPred=data['output'].query("prediction_date==@date")[[prediction]]
    dfPred.columns=[f'pred_value']
    print(dfPred)
    print(dfPred.info())

    print("=====================dfCompare:Join Actual price to Predicted Price=================")
    dfCompare=pd.merge(left=dfPred,right=dfX,how='inner',right_index=True,left_index=True)
    dfCompare.reset_index(inplace=True)   
    dfCompare['prediction_date']=date.strftime('%Y-%m-%d')      
    print(dfCompare) 
    print(dfCompare.info())

    if len(dfCompare)>0 : # it will be join if there is at least one record to show actual vs pred
        dfAllForecastResult= pd.concat([dfAllForecastResult,dfCompare],ignore_index=True)
        print(f"=========================Appended Data Joined=========================")
    else:
        print("No Appendind Data due to no at least one record to show actual vs pred")

=========================dfPred:Predicted Price at 2023-08-21=========================
            pred_value
date
2023-08-22  444.989990
2023-08-23  440.317657
2023-08-24  441.218964
2023-08-25  438.335083
2023-08-28  442.743866
2023-08-29  440.702881
2023-08-30  440.167419
2023-08-31  442.466125
2023-09-01  438.661865
2023-09-05  439.232788
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10 entries, 2023-08-22 to 2023-09-05
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   pred_value  10 non-null     float64
dtypes: float64(1)
memory usage: 160.0 bytes
None
=====================dfCompare:Join Actual price to Predicted Price=================
        date  pred_value  actual_value prediction_date
0 2023-08-22  444.989990      441.4926      2023-08-21
1 2023-08-23  440.317657      441.7721      2023-08-21
2 2023-08-24  441.218964      440.8845      2023-08-21
3 2023-08-25  438.335083      440.7212      2023-08-21
4 2023-08-28  442.743866      441.1001      2023-08-21
5 2023-08-29  440.702881      442.5680      2023-08-21
6 2023-08-30  440.167419      444.1029      2023-08-21
7 2023-08-31  442.466125      445.2388      2023-08-21
8 2023-09-01  438.661865      446.3245      2023-08-21
9 2023-09-05  439.232788      446.8557      2023-08-21
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             10 non-null     datetime64[ns]
 1   pred_value       10 non-null     float64
 2   actual_value     10 non-null     float64
 3   prediction_date  10 non-null     object
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 448.0+ bytes
None
=========================Appended Data Joined=========================
=========================dfPred:Predicted Price at 2023-08-22=========================
            pred_value
date
2023-08-23  444.773926
2023-08-24  440.177277
2023-08-25  441.130737
2023-08-28  438.348602
2023-08-29  442.597382
2023-08-30  440.821320
2023-08-31  440.269440
2023-09-01  442.423035
2023-09-05  438.700989
2023-09-06  439.204437
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10 entries, 2023-08-23 to 2023-09-06
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   pred_value  10 non-null     float64
dtypes: float64(1)
memory usage: 160.0 bytes
None
=====================dfCompare:Join Actual price to Predicted Price=================
        date  pred_value  actual_value prediction_date
0 2023-08-23  444.773926      441.7721      2023-08-22
1 2023-08-24  440.177277      440.8845      2023-08-22
2 2023-08-25  441.130737      440.7212      2023-08-22
3 2023-08-28  438.348602      441.1001      2023-08-22
4 2023-08-29  442.597382      442.5680      2023-08-22
5 2023-08-30  440.821320      444.1029      2023-08-22
6 2023-08-31  440.269440      445.2388      2023-08-22
7 2023-09-01  442.423035      446.3245      2023-08-22
8 2023-09-05  438.700989      446.8557      2023-08-22
9 2023-09-06  439.204437      446.7401      2023-08-22
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             10 non-null     datetime64[ns]
 1   pred_value       10 non-null     float64
 2   actual_value     10 non-null     float64
 3   prediction_date  10 non-null     object
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 448.0+ bytes
None
=========================Appended Data Joined=========================
=========================dfPred:Predicted Price at 2023-08-23=========================
            pred_value
date
2023-08-24  445.094208
2023-08-25  440.602936
2023-08-28  441.692841
2023-08-29  439.035858
2023-08-30  443.233185
2023-08-31  441.786621
2023-09-01  441.150818
2023-09-05  443.056885
2023-09-06  439.493225
2023-09-07  439.938019
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10 entries, 2023-08-24 to 2023-09-07
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   pred_value  10 non-null     float64
dtypes: float64(1)
memory usage: 160.0 bytes
None
=====================dfCompare:Join Actual price to Predicted Price=================
        date  pred_value  actual_value prediction_date
0 2023-08-24  445.094208      440.8845      2023-08-23
1 2023-08-25  440.602936      440.7212      2023-08-23
2 2023-08-28  441.692841      441.1001      2023-08-23
3 2023-08-29  439.035858      442.5680      2023-08-23
4 2023-08-30  443.233185      444.1029      2023-08-23
5 2023-08-31  441.786621      445.2388      2023-08-23
6 2023-09-01  441.150818      446.3245      2023-08-23
7 2023-09-05  443.056885      446.8557      2023-08-23
8 2023-09-06  439.493225      446.7401      2023-08-23
9 2023-09-07  439.938019      446.3964      2023-08-23
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             10 non-null     datetime64[ns]
 1   pred_value       10 non-null     float64
 2   actual_value     10 non-null     float64
 3   prediction_date  10 non-null     object
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 448.0+ bytes
None
=========================Appended Data Joined=========================
=========================dfPred:Predicted Price at 2023-08-24=========================
            pred_value
date
2023-08-25  444.912720
2023-08-28  440.525238
2023-08-29  441.582947
2023-08-30  438.963379
2023-08-31  442.958313
2023-09-01  441.740814
2023-09-05  441.085602
2023-09-06  443.017548
2023-09-07  439.590912
2023-09-08  439.857513
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10 entries, 2023-08-25 to 2023-09-08
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   pred_value  10 non-null     float64
dtypes: float64(1)
memory usage: 160.0 bytes
None
=====================dfCompare:Join Actual price to Predicted Price=================
        date  pred_value  actual_value prediction_date
0 2023-08-25  444.912720      440.7212      2023-08-24
1 2023-08-28  440.525238      441.1001      2023-08-24
2 2023-08-29  441.582947      442.5680      2023-08-24
3 2023-08-30  438.963379      444.1029      2023-08-24
4 2023-08-31  442.958313      445.2388      2023-08-24
5 2023-09-01  441.740814      446.3245      2023-08-24
6 2023-09-05  441.085602      446.8557      2023-08-24
7 2023-09-06  443.017548      446.7401      2023-08-24
8 2023-09-07  439.590912      446.3964      2023-08-24
9 2023-09-08  439.857513      446.2387      2023-08-24
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             10 non-null     datetime64[ns]
 1   pred_value       10 non-null     float64
 2   actual_value     10 non-null     float64
 3   prediction_date  10 non-null     object
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 448.0+ bytes
None
=========================Appended Data Joined=========================
=========================dfPred:Predicted Price at 2023-08-25=========================
            pred_value
date
2023-08-28  444.132690
2023-08-29  439.746307
2023-08-30  440.791321
2023-08-31  438.236755
2023-09-01  442.215393
2023-09-05  441.129333
2023-09-06  440.315704
2023-09-07  442.306366
2023-09-08  439.068085
2023-09-11  439.222565
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10 entries, 2023-08-28 to 2023-09-11
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   pred_value  10 non-null     float64
dtypes: float64(1)
memory usage: 160.0 bytes
None
=====================dfCompare:Join Actual price to Predicted Price=================
        date  pred_value  actual_value prediction_date
0 2023-08-28  444.132690      441.1001      2023-08-25
1 2023-08-29  439.746307      442.5680      2023-08-25
2 2023-08-30  440.791321      444.1029      2023-08-25
3 2023-08-31  438.236755      445.2388      2023-08-25
4 2023-09-01  442.215393      446.3245      2023-08-25
5 2023-09-05  441.129333      446.8557      2023-08-25
6 2023-09-06  440.315704      446.7401      2023-08-25
7 2023-09-07  442.306366      446.3964      2023-08-25
8 2023-09-08  439.068085      446.2387      2023-08-25
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             9 non-null      datetime64[ns]
 1   pred_value       9 non-null      float64
 2   actual_value     9 non-null      float64
 3   prediction_date  9 non-null      object
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 416.0+ bytes
None
=========================Appended Data Joined=========================

In [100]:
print("========================dfAllForecastResult: All Predicton Result========================")
print(dfAllForecastResult.info())
print(dfAllForecastResult)

========================dfAllForecastResult: All Predicton Result========================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             49 non-null     datetime64[ns]
 1   pred_value       49 non-null     float64
 2   actual_value     49 non-null     float64
 3   prediction_date  49 non-null     object
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 1.7+ KB
None
         date  pred_value  actual_value prediction_date
0  2023-08-22  444.989990      441.4926      2023-08-21
1  2023-08-23  440.317657      441.7721      2023-08-21
2  2023-08-24  441.218964      440.8845      2023-08-21
3  2023-08-25  438.335083      440.7212      2023-08-21
4  2023-08-28  442.743866      441.1001      2023-08-21
5  2023-08-29  440.702881      442.5680      2023-08-21
6  2023-08-30  440.167419      444.1029      2023-08-21
7  2023-08-31  442.466125      445.2388      2023-08-21
8  2023-09-01  438.661865      446.3245      2023-08-21
9  2023-09-05  439.232788      446.8557      2023-08-21
10 2023-08-23  444.773926      441.7721      2023-08-22
11 2023-08-24  440.177277      440.8845      2023-08-22
12 2023-08-25  441.130737      440.7212      2023-08-22
13 2023-08-28  438.348602      441.1001      2023-08-22
14 2023-08-29  442.597382      442.5680      2023-08-22
15 2023-08-30  440.821320      444.1029      2023-08-22
16 2023-08-31  440.269440      445.2388      2023-08-22
17 2023-09-01  442.423035      446.3245      2023-08-22
18 2023-09-05  438.700989      446.8557      2023-08-22
19 2023-09-06  439.204437      446.7401      2023-08-22
20 2023-08-24  445.094208      440.8845      2023-08-23
21 2023-08-25  440.602936      440.7212      2023-08-23
22 2023-08-28  441.692841      441.1001      2023-08-23
23 2023-08-29  439.035858      442.5680      2023-08-23
24 2023-08-30  443.233185      444.1029      2023-08-23
25 2023-08-31  441.786621      445.2388      2023-08-23
26 2023-09-01  441.150818      446.3245      2023-08-23
27 2023-09-05  443.056885      446.8557      2023-08-23
28 2023-09-06  439.493225      446.7401      2023-08-23
29 2023-09-07  439.938019      446.3964      2023-08-23
30 2023-08-25  444.912720      440.7212      2023-08-24
31 2023-08-28  440.525238      441.1001      2023-08-24
32 2023-08-29  441.582947      442.5680      2023-08-24
33 2023-08-30  438.963379      444.1029      2023-08-24
34 2023-08-31  442.958313      445.2388      2023-08-24
35 2023-09-01  441.740814      446.3245      2023-08-24
36 2023-09-05  441.085602      446.8557      2023-08-24
37 2023-09-06  443.017548      446.7401      2023-08-24
38 2023-09-07  439.590912      446.3964      2023-08-24
39 2023-09-08  439.857513      446.2387      2023-08-24
40 2023-08-28  444.132690      441.1001      2023-08-25
41 2023-08-29  439.746307      442.5680      2023-08-25
42 2023-08-30  440.791321      444.1029      2023-08-25
43 2023-08-31  438.236755      445.2388      2023-08-25
44 2023-09-01  442.215393      446.3245      2023-08-25
45 2023-09-05  441.129333      446.8557      2023-08-25
46 2023-09-06  440.315704      446.7401      2023-08-25
47 2023-09-07  442.306366      446.3964      2023-08-25
48 2023-09-08  439.068085      446.2387      2023-08-25

# Calculate MAE Metric

## Get sum distance between pred and actul value from prev rows

In [101]:
sqlMetric=f"""
with pred_actual_by_model as  
(
SELECT  detail.actual_value,detail.pred_value
from `{table_perf_id}`  t
 cross join unnest(t.pred_actual_data) as detail
 where t.model_id='{model_id}' and t.collection_timestamp<'{log_timestamp}'
)
select COALESCE( sum(abs(x.actual_value-x.pred_value)),0) as pred_diff_actual,count(*) as no_row  from pred_actual_by_model  x


"""

if genTableSchema==False:
    print(sqlMetric)

    dfMetric=load_data_bq(sqlMetric)
    prevSum=dfMetric.iloc[0,0]
    prevCount=dfMetric.iloc[0,1]

else:  # it is used if there are something changed in table schema
# for generating table schema
    prevSum=0
    prevCount=0

print(f"Prev Sum={prevSum} and Count={prevCount}")

with pred_actual_by_model as
(
SELECT  detail.actual_value,detail.pred_value
from `pongthorn.FinAssetForecast.model2_demo_forecast_performance`  t
 cross join unnest(t.pred_actual_data) as detail
 where t.model_id='spy-ema1-60t10-ds0115t0523' and t.collection_timestamp<'2023-09-09 10:00:00'
)
select COALESCE( sum(abs(x.actual_value-x.pred_value)),0) as pred_diff_actual,count(*) as no_row  from pred_actual_by_model  x



Prev Sum=577.9779383302005 and Count=150

## Cal sum distance between pred and actul value from last rows

In [102]:
dfAllForecastResult['pred_diff_actual']=dfAllForecastResult.apply(lambda x : abs(x['pred_value']-x['actual_value']),axis=1)
dfAllForecastResult

         date  pred_value  actual_value prediction_date  pred_diff_actual
0  2023-08-22  444.989990      441.4926      2023-08-21          3.497390
1  2023-08-23  440.317657      441.7721      2023-08-21          1.454443
2  2023-08-24  441.218964      440.8845      2023-08-21          0.334464
3  2023-08-25  438.335083      440.7212      2023-08-21          2.386117
4  2023-08-28  442.743866      441.1001      2023-08-21          1.643766
5  2023-08-29  440.702881      442.5680      2023-08-21          1.865119
6  2023-08-30  440.167419      444.1029      2023-08-21          3.935481
7  2023-08-31  442.466125      445.2388      2023-08-21          2.772675
8  2023-09-01  438.661865      446.3245      2023-08-21          7.662635
9  2023-09-05  439.232788      446.8557      2023-08-21          7.622912
10 2023-08-23  444.773926      441.7721      2023-08-22          3.001826
11 2023-08-24  440.177277      440.8845      2023-08-22          0.707223
12 2023-08-25  441.130737      440.7212      2023-08-22          0.409537
13 2023-08-28  438.348602      441.1001      2023-08-22          2.751498
14 2023-08-29  442.597382      442.5680      2023-08-22          0.029382
15 2023-08-30  440.821320      444.1029      2023-08-22          3.281580
16 2023-08-31  440.269440      445.2388      2023-08-22          4.969360
17 2023-09-01  442.423035      446.3245      2023-08-22          3.901465
18 2023-09-05  438.700989      446.8557      2023-08-22          8.154711
19 2023-09-06  439.204437      446.7401      2023-08-22          7.535663
20 2023-08-24  445.094208      440.8845      2023-08-23          4.209708
21 2023-08-25  440.602936      440.7212      2023-08-23          0.118264
22 2023-08-28  441.692841      441.1001      2023-08-23          0.592741
23 2023-08-29  439.035858      442.5680      2023-08-23          3.532142
24 2023-08-30  443.233185      444.1029      2023-08-23          0.869715
25 2023-08-31  441.786621      445.2388      2023-08-23          3.452179
26 2023-09-01  441.150818      446.3245      2023-08-23          5.173682
27 2023-09-05  443.056885      446.8557      2023-08-23          3.798815
28 2023-09-06  439.493225      446.7401      2023-08-23          7.246875
29 2023-09-07  439.938019      446.3964      2023-08-23          6.458381
30 2023-08-25  444.912720      440.7212      2023-08-24          4.191520
31 2023-08-28  440.525238      441.1001      2023-08-24          0.574862
32 2023-08-29  441.582947      442.5680      2023-08-24          0.985053
33 2023-08-30  438.963379      444.1029      2023-08-24          5.139521
34 2023-08-31  442.958313      445.2388      2023-08-24          2.280487
35 2023-09-01  441.740814      446.3245      2023-08-24          4.583686
36 2023-09-05  441.085602      446.8557      2023-08-24          5.770098
37 2023-09-06  443.017548      446.7401      2023-08-24          3.722552
38 2023-09-07  439.590912      446.3964      2023-08-24          6.805488
39 2023-09-08  439.857513      446.2387      2023-08-24          6.381187
40 2023-08-28  444.132690      441.1001      2023-08-25          3.032590
41 2023-08-29  439.746307      442.5680      2023-08-25          2.821693
42 2023-08-30  440.791321      444.1029      2023-08-25          3.311579
43 2023-08-31  438.236755      445.2388      2023-08-25          7.002045
44 2023-09-01  442.215393      446.3245      2023-08-25          4.109107
45 2023-09-05  441.129333      446.8557      2023-08-25          5.726367
46 2023-09-06  440.315704      446.7401      2023-08-25          6.424396
47 2023-09-07  442.306366      446.3964      2023-08-25          4.090034
48 2023-09-08  439.068085      446.2387      2023-08-25          7.170615

In [103]:
recentSum=dfAllForecastResult['pred_diff_actual'].sum()
recentCount=len(dfAllForecastResult)


dfAllForecastResult=dfAllForecastResult.drop(columns=['pred_diff_actual'])
print(f"Recent Sum={recentSum} and Count={recentCount}")

Recent Sum=187.49262739270011 and Count=49

## Calculate MEA as formula

In [104]:
#https://en.wikipedia.org/wiki/Mean_absolute_error
metric_value= round((prevSum+recentSum)/(prevCount+recentCount),2)
print(f"{metric_name} = {metric_value}")

mae = 3.85

# Create Collection Performance Info Dataframe and Store

In [105]:
df=pd.DataFrame(data=[ [log_date,model_id,metric_name,metric_value,log_timestamp] ],
                columns=["collection_date","model_id","metric_name","metric_value","collection_timestamp"])
print(df.info())
print(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   collection_date       1 non-null      datetime64[ns]
 1   model_id              1 non-null      object
 2   metric_name           1 non-null      object
 3   metric_value          1 non-null      float64
 4   collection_timestamp  1 non-null      datetime64[ns]
dtypes: datetime64[ns](2), float64(1), object(2)
memory usage: 168.0+ bytes
None
      collection_date                    model_id metric_name  metric_value  \
0 2023-09-09 10:00:00  spy-ema1-60t10-ds0115t0523         mae          3.85

  collection_timestamp
0  2023-09-09 10:00:00

In [106]:
dictCollectPerf[model_id]=(df,dfAllForecastResult)

In [107]:
# uncomment
#return f"gather data of {model_id}"

# End Loop

In [108]:
# Iterate over model list
# uncomment
# for modelID in modelList:
# # indent
#   print(process_data(modelID))
#   print("#########################################################")

# Create Json Data

In [109]:
jsonDataList=[]
for model_id,dataTuple in  dictCollectPerf.items():
    print(model_id)
    
    masterDF=dataTuple[0]
    masterDF["collection_date"]=masterDF["collection_date"].dt.strftime('%Y-%m-%d')
    masterDF["collection_timestamp"]=masterDF["collection_timestamp"].dt.strftime('%Y-%m-%d %H:%M:%S')
    master_perf = json.loads(masterDF.to_json(orient = 'records'))[0] # 1 main dataframe has 1 records
    
    detailDF=dataTuple[1]  
    # print(detailDF.info())
    
    #detailDF["prediction_date"]=detailDF["prediction_date"].dt.strftime('%Y-%m-%d')
    detailDF["date"]=detailDF["date"].dt.strftime('%Y-%m-%d')
    
    detail_perf= json.loads(detailDF.to_json(orient = 'records'))
    master_perf["pred_actual_data"]=detail_perf
    
    jsonDataList.append(master_perf)
    
with open("fin_forecast_performance.json", "w") as outfile:
    json.dump( jsonDataList, outfile)

spy-ema1-60t10-ds0115t0523

# Ingest Data to BigQuery

## Try to ingest data to get correct schema and copy the schema to create table including partion/cluster manually

In [110]:
try:
    table=client.get_table(table_perf_id)
    print("Table {} already exists.".format(table_perf_id))
    # print(table.schema)
except Exception as ex :
    print(str(ex))

Table pongthorn.FinAssetForecast.model2_demo_forecast_performance already exists.

In [111]:

job_config = bigquery.LoadJobConfig()

job_config.source_format = bigquery.SourceFormat.NEWLINE_DELIMITED_JSON

# Try to ingest data to get correct schema and copy the schema to create table including partiion/cluster manually
job_config.write_disposition = bigquery.WriteDisposition.WRITE_APPEND 


job = client.load_table_from_json(jsonDataList,table_perf_id, job_config = job_config)
if job.errors is not None:
    print(job.error_result)
    print(job.errors)
    # uncomment
    # return "Error to load data to BigQuery"
else:
    print(f"Import to bigquery successfully  {len(jsonDataList)} records")
    
#job_config.schema
# truncate table`pongthorn.FinAssetForecast.model_forecast_performance`

Import to bigquery successfully  1 records

In [112]:
# uncomment
#return 'completely'

In [ ]:
# uncomment
# Main 
# print("Collect prediction result to monitor performance model")
start_backfill='2023-06-03 10:00' # comment
end_backfill='2023-08-26 10:00'
period_index=pd.date_range(start=start_backfill,end=end_backfill, freq="W-SAT")
listLogDate=[ d.strftime('%Y-%m-%d %H:%M')   for  d in  period_index   ]
for d in listLogDate:
    print(d)
# multiple items

# listLogDate=[
#      '2023-08-05 00:00','2023-08-12 00:00','2023-08-19 00:00','2023-08-26 00:00','2023-09-02 00:00'
# ]
# for  d in listLogDate:
#   print(f"*******************************Collect prediction result as of {d}*****************************************")
#   print(collect_prediction_result(d))
#   print("************************************************************************************************")

# sigle item
# collectionDate='2023-08-26 00:00' # comment    
# print(collect_prediction_result(collectionDate))